/* ---------------------------------------------------------------------------------------------- */
/*                                       Start Variables                                          */
/* ---------------------------------------------------------------------------------------------- */
[data-theme="light"] {
  --primary-color: #0563bb;
  --secondary-color: #067ded;
  --background-color: #ffffff;
  --text-color: #272829;
  --header-main-color: #45505b;
  --header-overlay: rgba(255, 255, 255, 0.8);
  --header-secondP: #333333;
  --responsive-menu-border: #e6e9ec;
  --section-title-before: #dddddd;
  --nav-background: #f0f0f0;
  --nav-color: #ffffff;
  --nav-icon-color: #45505b;
  --about-title: #0563bb;
  --about-icon-background: #0563bb;
  --about-icon-color: #ffffff;
  --progressbar-background: #f2f3f5;
  --resume-year: #f7f8f9;
  --resume-circle-background: #ffffff;
  --portfolio-overlay: rgba(255, 255, 255, 0.9);
  --portfolio-overlay-border: #9fa2a5;
  --services-boxshadow: 0px 5px 100px 0px rgba(110, 123, 131, 0.05);
  --services-hover-boxshadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  --services-svg-fill: #f5f5f5;
  --services-icon-blue: #47aeff;
  --services-icon-orange: #ffa76e;
  --services-icon-pink: #e80368;
  --services-icon-yellow: #ffbb2c;
  --services-icon-red: #ff5828;
  --services-icon-teal: #11dbcf;
  --contact-info-background: #eef7ff;
  --contact-info-p: #728394;
  --contact-form-background: #ffffff;
  --contact-form-color: #272829;
  --contact-form-border: #cccccc;
  --contact-form-border-focus: #75bcff;
  --contact-form-shadow: rgba(6, 125, 237, 0.1);
  --footer-background: #f7f8f9;
}

[data-theme="dark"] {
  --primary-color: #2FDD92;
  --secondary-color: #f0b400;
  --background-color: #06090f;
  --text-color: #f4f4f4;
  --section-title-before: #dddddd;
  --header-main-color: #f4f4f4;
  --header-overlay: rgba(0, 0, 0, 0.85);
  --header-secondP: #cccccc;
  --nav-background: #161b22;
  --nav-color: #ffffff;
  --nav-icon-color: #2FDD92;
  --responsive-menu-border: #555555;
  --about-title: #28a745;
  --about-icon-background: #333333;
  --about-icon-color: #ffa600;
  --progressbar-background: #333333;
  --resume-year: #161b22;
  --resume-circle-background: #0d1117;
  --portfolio-overlay: rgba(0, 0, 0, 0.85);
  --portfolio-overlay-border: #aaaaaa;
  --services-boxshadow: 0 0 15px 0 rgba(110, 123, 131, 0.05);
  --services-hover-boxshadow: 0 0 35px 0 rgba(255, 255, 255, 0.08);
  --services-svg-fill: #333333;
  --services-icon-blue: #1698ff;
  --services-icon-orange: #ff7821;
  --services-icon-pink: #ff2a88;
  --services-icon-yellow: #ffad00;
  --services-icon-red: #ff5828;
  --services-icon-teal: #00ccbf;
  --contact-info-background: #161b22;
  --contact-info-p: #728394;
  --contact-form-background: #0d1117;
  --contact-form-color: #f4f4f4;
  --contact-form-border: #3a3a3a;
  --contact-form-border-focus: #d28900;
  --contact-form-shadow: rgba(210, 137, 0, 0.1);
  --footer-background: #0d1117;
}

/* Start Main Rules */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

/* End Main Rules */

/* Start Go To Top Arrow */

.back-to-top {
  position: fixed;
  display: none;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  border: 2px solid var(--primary-color);
  background: transparent;
  color: var(--text-color);
  transition: display 0.5s ease-in-out, background 0.3s ease-in-out;
  z-index: 9998;
}

.back-to-top i {
  font-size: 26px;
  position: absolute;
  top: 3px;
  font-weight: 700;
  left: 2px;
}

.back-to-top:hover {
  color: var(--background-color);
  background: var(--primary-color);
}

/* End Go To Top Arrow */

/* Start AOS Animations */

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}

/* End AOS Animations */

/* Start Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--background-color);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--primary-color);
  border-top-color: var(--background-color);
  border-bottom-color: var(--background-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End Preloader */

/* Start Nav Header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px 15px 15px 0;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 180px;
    background: var(--background-color);
    border-right: 2px solid var(--responsive-menu-border);
    left: -180px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
  .project-container {
    margin: 100px;
  }
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: var(--nav-icon-color);
  padding: 10px 18px 10px 15px;
  margin-bottom: 8px;
  font-size: 15px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: var(--nav-background);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu li:nth-of-type(3) a i {
  font-weight: 700;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: var(--header-main-color);
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }

  .nav-menu a span {
    display: none;
    color: var(--nav-color);
  }
}

.nav-menu .active > a,
.nav-menu a:hover,
.nav-menu li:hover > a {
  color: var(--background-color);
  background: var(--primary-color);
}

.nav-menu .active > a span,
.nav-menu a:hover span,
.nav-menu li:hover > a span {
  color: var(--background-color);
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: var(--background-color);
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9999;
  border: 0;
  background: 0 0;
  font-size: 30px;
  transition: all 0.4s;
  outline: 0 !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: var(--header-main-color);
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: var(--primary-color);
}

/* End Nav Header */

/* Start Hero */

#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/meta/header.jpg) top right no-repeat fixed;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column;
    margin: 50px 0 0 0;
  }
  .illustration {
    width: 100%;
  }
  .left {
    order: 2;
  }
  .right {
    order: 1;
  }
  .project-info li {
    padding: 20px;
  }

  .image {
    width: 100%;
    margin-bottom: 10px;
  }
  .info {
    margin-bottom: 30;
    flex-direction: column;
  }
  .project-stack {
    flex-direction: column;
    align-items: flex-start;
  }
  .project-container {
    margin: 0px;
  }
}

#hero:before {
  content: "";
  background: var(--header-overlay);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: var(--header-main-color);
}

#hero p {
  color: var(--header-main-color);
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: Poppins, sans-serif;
}

#hero p span {
  color: var(--primary-color);
  letter-spacing: 1px;
}

#hero p:last-of-type {
  color: var(--header-secondP);
  margin-top: 30px;
  font-size: 16px;
  letter-spacing: 2px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 26px;
  display: inline-block;
  color: var(--header-main-color);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: var(--secondary-color);
}

#color-mood {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  z-index: 1;
}

#color-mood i {
  cursor: pointer;
  background-color: var(--nav-background);
  color: var(--nav-icon-color);
  padding: 13px;
  border-radius: 50px;
  width: 50px;
  font-size: 24px;
  height: 50px;
  transition: 0.3s;
}

#color-mood i:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

#color-mood i#lightMode {
  display: none;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }

  #hero p:last-of-type {
    font-size: 14px;
    line-height: 24px;
  }

  #hero .social-links a {
    font-size: 24px;
  }

  #color-mood {
    left: 20px;
  }
}

/* End Hero */

/* Start Section General Rules */

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--header-main-color);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--section-title-before);
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--primary-color);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/* Start Section General Rules */

/* Start About */

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--about-title);
}

.about .content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  padding-bottom: 10px;
  color: var(--primary-color);
  position: relative;
  top: 2px;
}

.about .content h5 {
  font-weight: 700;
  font-size: 20px;
  color: var(--about-title);
}

.about .content .hobbies-icons {
  margin-bottom: 15px;
}

.about .content .hobbies-icons i {
  font-size: 24px;
  padding-right: 10px;
  position: relative;
  top: 2px;
  transition: 0.25s;
}

.about .content .hobbies-icons i:hover {
  color: var(--primary-color);
}

.about .content p:last-child {
  margin-bottom: 0;
}

@media (min-width: 410px) and (max-width: 991px) {
  .about img {
    max-width: 350px;
  }
}

@media (max-width: 576px) {
  .about .img-container {
    margin: 0 15px;
  }
}

/* End About */

/* Start Skills */

.skills .progress {
  height: 50px;
  display: block;
  background: 0 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: var(--header-main-color);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: var(--progressbar-background);
  border-radius: 4px;
  overflow: hidden;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--primary-color);
}

/* End Skills */

/* Start Resume */

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--header-main-color);
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--primary-color);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #677384 !important;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 4px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.front-skills ul:first-of-type,
.project ul:first-of-type {
  margin-right: 30px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--resume-circle-background);
  border: 2px solid var(--primary-color);
}

.resume .resumeLink {
  display: inline-block;
  transition: 0.3s;
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  border-radius: 30px;
  margin: 10px 0 30px;
  color: var(--text-color);
  font-weight: 600;
}

.resume .download-resume {
  display: block;
  width: 220px;
  margin: 50px auto 0;
  border: 2px solid var(--primary-color);
  padding: 10px 20px 10px 50px;
  border-radius: 30px;
  background-color: transparent;
  transition: 0.3s;
  text-decoration: none;
  position: relative;
  color: var(--text-color);
  font-weight: 600;
}

.resume .download-resume:hover,
.resume .resumeLink:hover {
  background-color: var(--primary-color);
  text-decoration: none;
  color: var(--background-color);
}

.resume .download-resume:focus {
  outline: 0;
}

.resume .download-resume i {
  font-size: 20px;
  padding-right: 5px;
  position: absolute;
  left: 22px;
  top: 12px;
}

/* End Resume */

/* Start Portfolio & Certifications */

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio-item {
  margin-bottom: 30px;
  padding: 10px;
}
.portfolio-info {
  margin-top: 10px;
}
.portfolio-info p {
  color: rgb(194, 189, 189);
}
.portfolio-info h4 {
  color: rgb(194, 189, 189);
}

.portfolio-links {
  margin-top: 10px;
}

.portfolio-links a {
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.3s;
  text-decoration: none;
  color: rgb(199, 194, 194);
  font-weight: 600;
  margin-right: 10px;
  background-color: transparent;
}

.portfolio-links a:focus {
  outline: 0;
}

.project-stack p {
  padding: 6px 15px;
  border-radius: 20px;
  color: rgb(199, 194, 194);
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #ffbb2c;
  cursor: pointer;
}
.project-stack p:hover {
  background-color: #ffbb2c;
}

.project-title {
  color: #ffbb2c;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

/* End Portfolio & Certifications */

/* Lazy Loading */

.lazy-parent {
  background-image: url("../../assets/img/loading.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 25px;
}

.lazy-parent:hover .portfolio-info {
  display: none;
}

/* Start Contact */

.contact .info {
  width: 100%;
}

.contact .info i {
  font-size: 20px;
  color: var(--primary-color);
  float: left;
  width: 44px;
  height: 44px;
  background: var(--contact-info-background);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--header-main-color);
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--contact-info-p);
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .address:hover i,
.contact .info .email:hover i,
.contact .info .phone:hover i {
  background: var(--primary-color);
  color: var(--background-color);
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
  background-color: var(--contact-form-background);
  color: var(--contact-form-color);
  border-color: var(--contact-form-border);
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--contact-form-border-focus);
  box-shadow: 0 0 0 0.2rem var(--contact-form-shadow);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
  resize: none;
}

.contact .php-email-form button[type="submit"] {
  background: transparent;
  padding: 10px 35px;
  color: var(--text-color);
  transition: 0.4s;
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  font-weight: 600;
}

.contact .php-email-form button[type="submit"]:hover {
  background: var(--primary-color);
  color: var(--background-color);
}

.contact .php-email-form button[type="submit"]:focus {
  outline: 0;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contact .php-email-form input::-webkit-input-placeholder,
.contact .php-email-form textarea::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  transition: 0.3s;
}

.contact .php-email-form input:focus::-webkit-input-placeholder,
.contact .php-email-form textarea:focus::-webkit-input-placeholder {
  color: var(--contact-form-background);
}

.contact .php-email-form input:focus::-moz-placeholder,
.contact .php-email-form textarea:focus::-moz-placeholder {
  color: var(--contact-form-background);
}

.contact .php-email-form input:focus::placeholder,
.contact .php-email-form textarea:focus::placeholder {
  color: var(--contact-form-background);
}

.form-alert {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  display: none;
  margin-left: 15px;
}

/* End Contact */

/* Start Footer */

#footer {
  background: var(--footer-background);
  color: var(--header-main-color);
  font-size: 15px;
  padding: 10px 0 5px;
}

#footer .social-links {
  margin: 0;
  text-align: right;
}

#footer .social-links a {
  display: inline-block;
  color: var(--header-main-color);
  line-height: 1;
  padding: 5px 5px 0;
  margin-right: 2px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

#footer .social-links a i {
  font-size: 20px;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .copyright span.name {
  color: var(--primary-color);
}

@media (max-width: 992px) {
  #footer {
    text-align: center;
  }

  #footer .social-links {
    margin-top: 10px;
    text-align: center;
  }
}

/* End Footer */

/* Start Scrollbar */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: 0 0;
  border: 0;
  border-radius: 53px;
  -webkit-border-radius: 53px;
}

/* End Scrollbar */

.illustration {
  filter: sepia(10%);
}

.project-details {
  flex-direction: column;
}
